<% if @subitem.completed %>
  $('#subitem-' +<%= @subitem.id %>).remove();
  $('#js-subitems-' +<%= @subitem.item.id %>).append("<%= escape_javascript(render(@subitem))%>");
  $('.flash').html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:notice] %>");
<% else %>
  ('.flash').html("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error] %>");
<% end %>
<% if @item_completed %>
  $('#name-' +<%= @subitem.item.id %>).prepend("<%= escape_javascript(link_to "", [current_user, @subitem.item], method: :delete, class: 'glyphicon glyphicon-remove-sign',id: "delete-#{@subitem.item.id}" ,remote: true) %>");
<% end %>
