= content_tag :div, class: 'media', id: "item-#{item.id}" do
  .media-body
    %p
      - if item.completed?
        %i.glyphicon.glyphicon-ok.complete
      - else
        = link_to "", mark_complete_user_item_path(current_user, item), method: :post, class: 'glyphicon glyphicon-ok incomplete', remote: true
      = item.name
    %small
      created:
      = time_ago_in_words(item.created_at)
      ago --
      = distance_of_time_in_words(Time.now, item.created_at + 7.days)
      to complete item
