= content_tag :div, class: 'media', id: "item-#{item.id}" do
  .media-body
    %p
      = link_to "", [current_user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true
      = item.name
    %small
      created:
      = time_ago_in_words(item.created_at)
      ago --
      = distance_of_time_in_words(item.created_at, item.created_at + 7.days)
      to complete item
